/* NAVBAR */

#def-nav{
    padding: 20px 30px;
}
#def-nav img{
    width: 90px;
}
#def-nav .icon-toggle-wrapper #page-list li a{
    font-size: 15px;
    padding: 10px 15px;
}
#def-nav .icon-toggle-wrapper .menu-toggle{
    display: none;
}

/* FORM */

#form form{
    width: 60%;
}
#form button{
    padding: 15px 0px;
}

/* FRANCHISE */

#franchise{
    flex-wrap: wrap;
}
#franchise .franchise-box{
    width: 48.6%;
}
#franchise .franchise-box button{
    width: 80%;
}

/* FOOTER */
footer .footer-contains{
    width: 70%;
}   
footer .footer-contains form button{
    margin-top: 2px;
}